

<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/navbar.css') }}">
    <!-- Swiper CSS -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/swiper-bundle.min.css') }}">
	
    <!-- CSS -->
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	 <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      $(function() {
	$("#visible").click(function() {
	    $('#invisible').toggleClass("show");
	  });  
	});
    </script>
	   <style>
      .hide{display:none;}
      .show{display:block;}
    </style>
		<div class="topnav">

		 
				<a class="nav-link" href="/">Home </a>
		
				<a class="nav-link" href="/articles">Articles</a>

				
		        <a class="nav-link" href="/books">Books</a>
				
				 <a class="nav-link" href="/login">Login</a>
		   
		  </div>
</head>
<body>
	

		  
	<h1>Books of the day</h1>
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            
                            <img src="{{url_for('static', filename='images/lb1.jpg')}}" alt="" class="card-img" />
                          
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">All the Light We Cannot See</h2>
                        <p class="description">A beautiful, stunningly ambitious novel about a blind French girl and a German boy whose paths collide in occupied France as both try to survive the devastation of World War II</p>
						 <form action="{{ url_for('books') }}" method="post">
							<div class="msg">{{ msg }}</div>
              
						<input class="button"  id="buy" name="buy" type="submit" class="btn" value="Price: 90" >
							
						</form>

						
                        
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="{{url_for('static', filename='images/lb2.jpg')}}" alt="" class="card-img" />
                         
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">The Shadow of the Gods</h2>
                        <p class="description">THE GREATEST SAGAS ARE WRITTEN IN BLOOD.A century has passed since the gods fought and drove themselves to extinction</p>

                        <a class="nav-link" href="/purchase"> <button class="button">Price: 40</button></a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="{{url_for('static', filename='images/lb3.jpg')}}" alt="" class="card-img" />

                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Girl in Pieces</h2>
                        <p class="description">Charlie Davis is in pieces. At seventeen, she’s already lost more than most people lose in a lifetime.</p>
					<a class="nav-link" href="/purchase"> <button class="button">Price: 85</button></a>
                       
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="{{url_for('static', filename='images/lb4.jpg')}}" alt="" class="card-img" />
                          
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">They Both Die at the End</h2>
                        <p class="description">On September 5, a little after midnight, Death-Cast calls Mateo Torrez and Rufus Emeterio to give them some bad news: They’re going to die today.</p>

                        <a class="nav-link" href="/purchase"> <button class="button">Price: 70</button></a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                            <img src="{{url_for('static', filename='images/lb5.jpg')}}" alt="" class="card-img" />
                      
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">More Happy Than Not</h2>
                        <p class="description">A special Deluxe Edition of Adam Silvera's groundbreaking debut featuring an introduction by Angie Thomas.</p>

                        <button class="button">Price: 50</button>
                    </div>
                </div>
                
                
            </div>
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

</body>

<!-- Swiper JS -->

<script src="{{ url_for('static',filename='js/swiper-bundle.min.js') }}"></script>
<!-- JavaScript -->

<script src="{{ url_for('static',filename='js/slide.js') }}"></script>
</html>